{% extends "base_generic.html" %}

{% block title %}
  <title>All Tasks</title>
{% endblock %}

{% block content %}
  <h1>All Tasks</h1>
  {% if all_tasks_list %}
    <ul>
      {% for task in all_tasks_list %}
        <li class="{% if task.complete == 'True' %}text-success{% elif task.complete == 'False' %}text-warning{% endif %}" style="margin-top:10px">
          {% if task.is_overdue %}OVERDUE: {% endif %}<a href="{{ task.get_absolute_url }}">{{ task.description }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You haven't added any tasks yet!</p>
  {% endif %}
{% endblock %}
