{% extends "base_generic.html" %}
{% block title %}
<title>{{ category.name.capitalize }}</title>
{% endblock %}

{% block content %}
  <h1>Tasks in {{ category.name.capitalize }}</h1>
  <h5>Tasks:</h5>
  <ul>
    {% for task in category.task_set.all %}
    <li>
      <a href="{{ task.get_absolute_url }}">{{ task.description }}</a>
      <p class="text-danger">{% if task.is_overdue %}OVERDUE{% endif %}</p>
    </li>
    {% endfor %}
  </ul>

  <div style="margin-top:10px">
    <hr>
    <h5>Update or delete this category</h5>
    <ul>
      <li><a href="{% url 'category_update' pk=category.id %}">Update</a></li>
      <li><a href="{% url 'category_delete' pk=category.id %}">Delete</a></li>
    </ul>

  </div>
  {% endblock %}
