{% extends "base_generic.html" %}

{% block title %}
<title>View Task</title>
{% endblock %}

{% block content %}
  <h1>Task</h1>
  <br>
  <h3>{{ task.description }}</h3>

  <div style="margin-top:20px">
    <h5 class="{% if task.priority == '3' %}text-success{% elif task.priority == '1' %}text-danger{% else %}text-warning{% endif %}">
      Priority {{ task.get_priority_display }}
      <br>
      {% if task.is_overdue %}OVERDUE{% endif %}
    </h5>
  </div>

  <div style="margin-top:10px">
    <hr>
    <h5>Due by:</h5>
      <p>{{ task.due_by }}</p>
  </div>

  <div style="margin-top:10px">
    <hr>
    <h5>Notes:</h5>
      <p>{{ task.notes }}</p>
  </div>

  <div style="margin-top:10px">
    <hr>
    <h5>Tags:</h5>
      {% for tag in task.tag.all %}
        <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
  <div>

  <div style="margin-top:10px">
    <hr>
    <h5>Update or delete this task</h5>
    <a href="{% url 'task_update' pk=task.id %}">Update</a>
    <br>
    <a href="{% url 'task_delete' pk=task.id %}">Delete</a>

  <div>
{% endblock %}
