{% extends "base_generic.html" %}

{% block title %}
<title>Edit Task</title>
{% endblock %}

{% block content %}
  <h1>Task info</h1>
  {% load crispy_forms_tags %}
  <form action="" method="post">
    {% csrf_token %}

    {{ form.description|as_crispy_field }}
    {{ form.notes|as_crispy_field }}
    <div class="row">
      <div class="col-6">
        {{ form.due_by|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.priority|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        {{ form.tag|as_crispy_field }}
      </div>

    <div class="col-6">
      {{ form.complete|as_crispy_field }}
    </div>
    </div>
    <button type="submit" class="btn btn-success">Save task</button>
  </form>
{% endblock %}
